<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="text-danger">NG Contact
            <a class="btn btn-danger btn-sm" routerLink="/contacts/add">New</a></p>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis quae repellat quidem cumque labore expedita nesciunt sint aut eos mollitia. 
            Repudiandae velit culpa magnam dolore sunt deserunt quis, saepe quia!</p>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="search here">
                </div>
                <div class="col">
                    <input type="button" class="btn btn-outline-dark" value="search">
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <pre> {{ contactData | json}}</pre> -->

<div class="container" *ngIf="contactData.length>0">
    <div class="row">
        <div class="col-md-6" *ngFor="let contact of contactData">
            <div class="card list-group-item-danger mt-3">
                    <div class="card-body" >
                        <div class="row">
                           
                            <div class="col-sm-3">
                                    <img [src]="contact.photo" class="contact-img">
                            </div>
                            <div class="col-sm-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">Name:<span class="h3 fw-bold">{{contact.name}}</span></li>
                                        <li class="list-group-item">Email:<span class="h3 fw-bold">{{contact.email}}</span></li>
                                        <li class="list-group-item">Mobile:<span class="h3 fw-bold">{{contact.mobile}}</span></li>
                                    </ul>
                            </div>
                            <div class="col-sm-2 d-flex flex-column justify-content-center align-item-center">
                                <a class="btn btn-warning my-1" routerLink="/contacts/view/{{contact.id}}">
                                    <i class="fa fa-eye">View</i>
                                </a>
                                <a class="btn btn-primary my-1" routerLink="/contacts/edit/{{contact.id}}">
                                    <i class="fa fa-eye">Edit</i>
                                </a>
                                <button class="btn btn-danger my-1" (click)="DeleteContact(contact.id)">
                                    <i class="fa fa-trash-alt">Delete</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        
    </div>
</div> 
